@model IEnumerable<dynamic>

  @{
  ViewData["Title"] = "Detalle de Carga";
  var historial = ViewBag.Historial;
  var logContent = ViewBag.LogContent as string;
  }


  <div class="row mb-4">
    <div class="col-md-10">
      <h2>Detalle de Carga</h2>
    </div>
    <div class="col-md-2 mx-auto">
      <div class="">
        <a asp-action="Index" class="btn btn-dark">
          <i class="fas fa-arrow-left"></i> Regresar
        </a>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-header bg-light fw-bold">📄 Detalle del Log</div>
    <div class="card-body" style="max-height: 300px; overflow-y: auto; font-family: monospace;">
      <pre>@logContent</pre>
    </div>
  </div>

  <hr />

  <h5>📊 Registros cargados (Carga ID: @historial.IdHistorialCarga)</h5>

  @if (!Model.Any())
  {
  <div class="alert alert-warning">No se encontraron registros asociados a esta carga.</div>
  }
  else
  {
  <table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">
      <tr>
        <th>Tipo</th>
        <th>Empresa</th>
        <th>País</th>
        <th>Sucursal</th>
        <th>Dirección</th>
        <th>Colaborador</th>
        <th>CUI</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
      <tr>
        <td>@item.Tipo</td>
        <td>@item.Empresa</td>
        <td>@item.Pais</td>
        <td>@item.Sucursal</td>
        <td>@item.Direccion</td>
        <td>@item.Colaborador</td>
        <td>@item.CUI</td>
      </tr>
      }
    </tbody>
  </table>
  }
